
@{
    ViewData["Title"] = "Admin Panel";
}

<h1>Admin Panel</h1>

<div class="container mt-2">
    <div class="text-center mb-2">
        <form asp-action="RedirectToWebsite" method="post">
            <button type="submit" class="btn btn-primary">Web Sitesine Dönmek İçin Tıklayınız</button>
        </form>
    </div>
</div>
