@{
    ViewData["Title"] = "Kullanım ve Gizlilik Koşulları  ";
}
<h1>@ViewData["Title"]</h1>

<div>
    <td>
        <div>
            <tr>
                <th>
                    <a>

                        SANRI Otomotiv, müşteri memnuniyeti ve güvenliği odaklı hizmet felsefesi ile web sitesi velisanri.net (bundan sonra "Web Sitesi" olarak ifade edilecektir.) vermiş olduğunuz bilgilerin gizliliğini korumak amacıyla aşağıda belirtilen temel kuralları benimsemektedir.
                        Web Sitemiz'den yalnızca ürün/hizmet başvurusu ve bilgi güncelleme amaçlı bilgi girişi yapılmaktadır.
                    </a>
                </th>
            </tr>
        </div>
        <div>

            <br />
            <a>
                Web Sitemiz'e girilen bilgilerin güvenliği açısından şirketimiz sistem ve internet altyapısı en güvenilir seviyede tutularak gerekli önlemler alınmıştır. Müşterilerimizin Web Sitemiz'e ürün/hizmet başvurusu ve bilgi güncelleme amaçlı girmiş oldukları bilgiler diğer internet kullanıcıları tarafından görüntülenemez. Müşterilerimizin bizimle paylaştığı bilgilere izinsiz ulaşım, SANRI Otomotiv personeli dahil olmak üzere kısıtlanmıştır.

                SANRI Otomotiv, sözkonusu bilgileri müşterilerin onayı dışında ya da yasal bir yükümlülük altında bulunmadığı sürece herhangi bir üçüncü şahıs, kurum ve kuruluş ile paylaşmayacaktır.

                SANRI Otomotiv, bu bilgileri sadece gerekli yetkiler ve yasal düzenlemeler çerçevesinde açıklayabilecektir. SANRI Otomotiv' in tabi olduğu düzenleyici kurumlar ve/veya yasama, yürütme organ ve mercileri müşteri bilgilerinin açıklanmasını istediğinde, SANRI Otomotiv, bu bilgileri yalnızca gerekli yetkiler çerçevesinde açıklayacaktır.
            </a>
        </div>
        <br />
        <div>
            <a>
                Web Sitemiz diğer web sitelerine link vermektedir. Gizlilik Politikamız'da yer alan taahhütlerimiz sadece web sitemiz içerisinde geçerlidir ve diğer web sitelerini kapsamamaktadır. Web Sitemiz'den link ile gidilecek diğer web sitelerindeki kullanım ile ilgili o sitelere ait gizlilik güvencesi ve kullanım şartları geçerlidir. Web sitemizden reklam, banner, içerik maksatlı veya başka bir maksat ile geçilen diğer web sitelerinin bilgi kullanımı, etik ilkeleri, gizlilik prensipleri, nitelik ve servis kalitesi ile bu sitelerde oluşabilecek herhangi bir maddi / manevi zarar ve kayıplardan SANRI Otomotiv sorumlu değildir.

                Web sitemizde yer alan bilgi, materyal ve bunların düzenlenmesi konusundaki telif hakları, SANRI Otomotiv' e aittir. Web Sitemiz'in içerdiği üçüncü sahıslara ait materyaller dışında kalan bilgi ve materyallere dair tüm telif hakları, tescilli marka, patent, entelektüel ve diğer mülkiyet hakları firmamızda saklıdır.
            </a>
        </div>
    </td>
</div>